In [140]:
import pandas as pd
import numpy as np

In [141]:
df_vente = pd.read_excel('data/Base_OLAP.xlsx', sheet_name='Vente Détail')

df_produit = pd.read_excel('data/Base_OLAP.xlsx', sheet_name='Produits')

df_clients = pd.read_excel('data/Base_OLAP.xlsx', sheet_name='Clients')

df_calendrier = pd.read_excel('data/Base_OLAP.xlsx', sheet_name='Calendrier')

df_employe = pd.read_excel('data/Base_OLAP.xlsx', sheet_name='Employé')

In [142]:
df_vente.head()

,ID_BDD,CUSTOMER_ID,id_employe,EAN,Date achat,ID ticket
0,HZDG8U15NNY7SI6HDK8NMFDEK7MOVUX31VY,CUST-G42Z6WE8QLWJ,b413ca065a762e8cf2e86cfea8b9c174,6473630445822,45518,t_2693
1,1H51BRR800TK9DCIH8M9QCRH3LEAR0JWALJ,CUST-CUA37GP8GABQ,a7ada0770091e838e3dcd45265282820,1857802002765,45518,t_4408
2,W6VNWK6ZX0D4QZ545ZD5Y0THWQQDBTXABXO,CUST-NHWI0DGNESYI,fa836e3f5faf72d24e079235332169ce,6831886714876,45518,t_3258
3,58EC3JD1TDZZAVQZAW4AHFOUEKTR61ZLB70,CUST-IYXDMN7Q11O4,6c1c3292c852c6c593b95cc146b00c0e,6916826750723,45518,t_1080
4,96FE6HA91BRDDF6XRI3O9B83M5PKIXCIXZV,CUST-VR9O54A46EVF,38680e129f45c49322cb12303b7fb655,7930902861368,45518,t_979

In [143]:
df_vente.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41377 entries, 0 to 41376
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID_BDD       41377 non-null  object
 1   CUSTOMER_ID  41377 non-null  object
 2   id_employe   41377 non-null  object
 3   EAN          41377 non-null  int64
 4   Date achat   41377 non-null  int64
 5   ID ticket    41377 non-null  object
dtypes: int64(2), object(4)
memory usage: 1.9+ MB

In [144]:
def str_egal(df,col):
    if df[col].astype('str').str.len().nunique() == 1:
        print(col, ' : toutes les lignes ont le même nombres de caractères. Nombres de caractères', df[col].astype('str').str.len().unique())

    else :
        print(col, ': les lignes ont des longueurs différentes')

In [145]:
for col in df_vente.columns:
    str_egal(df_vente,col)

ID_BDD  : toutes les lignes ont le même nombres de caractères. Nombres de caractères [35]
CUSTOMER_ID  : toutes les lignes ont le même nombres de caractères. Nombres de caractères [17]
id_employe  : toutes les lignes ont le même nombres de caractères. Nombres de caractères [32]
EAN : les lignes ont des longueurs différentes
Date achat  : toutes les lignes ont le même nombres de caractères. Nombres de caractères [5]
ID ticket : les lignes ont des longueurs différentes

In [146]:
for col in df_vente.columns:
    print(col, ': nombre de doublons', df_vente[col].duplicated().sum())

ID_BDD : nombre de doublons 0
CUSTOMER_ID : nombre de doublons 39080
id_employe : nombre de doublons 41321
EAN : nombre de doublons 25231
Date achat : nombre de doublons 41376
ID ticket : nombre de doublons 39569

In [147]:
df_produit.head()

,EAN,categorie,Rayon,Libelle_produit,prix
0,5026767366043,Produits Secs & Conserves,pates,500g penne rigate panzani,1.24
1,1002603715237,Produits Secs & Conserves,pates,500g spaghetti panzani,0.84
2,2113941413715,Produits Secs & Conserves,pates,1kg coquillettes panzani,1.73
3,2597945667827,Produits Secs & Conserves,pates,1kg spaghetti panzani,1.53
4,8046456922921,Produits Secs & Conserves,pates,panzani farfalle 500g,1.22

In [148]:
df_produit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18040 entries, 0 to 18039
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   EAN              18040 non-null  int64
 1   categorie        18040 non-null  object
 2   Rayon            18040 non-null  object
 3   Libelle_produit  18040 non-null  object
 4   prix             18040 non-null  float64
dtypes: float64(1), int64(1), object(3)
memory usage: 704.8+ KB

In [149]:
for col in df_produit.columns:
    str_egal(df_produit,col)

EAN : les lignes ont des longueurs différentes
categorie : les lignes ont des longueurs différentes
Rayon : les lignes ont des longueurs différentes
Libelle_produit : les lignes ont des longueurs différentes
prix : les lignes ont des longueurs différentes

In [150]:
df_clients.head()

         CUSTUMER_ID date_inscription
0  CUST-2KYXXXW1NK7I       2023-07-17
1  CUST-NR43XRT2PXYG       2023-09-07
2  CUST-CH58P8PSVIYU       2021-08-24
3  CUST-CI7JQHW4TIYT       2021-12-22
4  CUST-3QHP3KL4NPP2       2020-12-20

In [151]:
for col in df_clients.columns:
    str_egal(df_clients,col)

CUSTUMER_ID  : toutes les lignes ont le même nombres de caractères. Nombres de caractères [17]
date_inscription  : toutes les lignes ont le même nombres de caractères. Nombres de caractères [10]

In [152]:
df_calendrier.head()

    date  annee  mois       Jour mois_nom  annee_mois  jour_semaine trimestre
0  43831   2020     1 1900-01-01  janvier       43831             4        Q1
1  43832   2020     1 1900-01-02  janvier       43831             5        Q1
2  43833   2020     1 1900-01-03  janvier       43831             6        Q1
3  43834   2020     1 1900-01-04  janvier       43831             7        Q1
4  43835   2020     1 1900-01-05  janvier       43831             1        Q1

In [153]:
for col in df_calendrier.columns:
    str_egal(df_calendrier,col)

date  : toutes les lignes ont le même nombres de caractères. Nombres de caractères [5]
annee  : toutes les lignes ont le même nombres de caractères. Nombres de caractères [4]
mois : les lignes ont des longueurs différentes
Jour  : toutes les lignes ont le même nombres de caractères. Nombres de caractères [10]
mois_nom : les lignes ont des longueurs différentes
annee_mois  : toutes les lignes ont le même nombres de caractères. Nombres de caractères [5]
jour_semaine  : toutes les lignes ont le même nombres de caractères. Nombres de caractères [1]
trimestre  : toutes les lignes ont le même nombres de caractères. Nombres de caractères [2]

In [154]:
df_employe.head()

,id_employe,employe,prenom,nom,date_debut,hash_mdp,mail
0,6fa61d0ecae0b563fef18d36b2039c8e,lmaret,Laure,Maret,43961,0373c45921fbaa7530f34b39e71ba93c,lmaret@supersmartmarket.fr
1,37c6a856b2e14217855d808fbc8e56a7,cvérany,Christian,Vérany,43894,3e7956190015a301924fb6d7409665a6,cvérany@supersmartmarket.fr
2,4853b03deab973a1a8e466025bce5b52,sdeslys,Solène,Deslys,44882,45154756438492cd025e3e000781e200,sdeslys@supersmartmarket.fr
3,e44eabec860498a79e675200bc8fa455,acoquelin,Amand,Coquelin,44380,d0575b3bf61100514cedb05d87a9b689,acoquelin@supersmartmarket.fr
4,fa836e3f5faf72d24e079235332169ce,egrosjean,Emmanuel,Grosjean,45192,3a366362e4c0016df16dbd2cfb6c7e2a,egrosjean@supersmartmarket.fr

In [155]:
for col in df_employe.columns:
    str_egal(df_employe,col)

id_employe  : toutes les lignes ont le même nombres de caractères. Nombres de caractères [32]
employe : les lignes ont des longueurs différentes
prenom : les lignes ont des longueurs différentes
nom : les lignes ont des longueurs différentes
date_debut  : toutes les lignes ont le même nombres de caractères. Nombres de caractères [5]
hash_mdp  : toutes les lignes ont le même nombres de caractères. Nombres de caractères [32]
mail : les lignes ont des longueurs différentes

### Préparation table de données

#### Table vente

In [156]:
df_vente.head()

,ID_BDD,CUSTOMER_ID,id_employe,EAN,Date achat,ID ticket
0,HZDG8U15NNY7SI6HDK8NMFDEK7MOVUX31VY,CUST-G42Z6WE8QLWJ,b413ca065a762e8cf2e86cfea8b9c174,6473630445822,45518,t_2693
1,1H51BRR800TK9DCIH8M9QCRH3LEAR0JWALJ,CUST-CUA37GP8GABQ,a7ada0770091e838e3dcd45265282820,1857802002765,45518,t_4408
2,W6VNWK6ZX0D4QZ545ZD5Y0THWQQDBTXABXO,CUST-NHWI0DGNESYI,fa836e3f5faf72d24e079235332169ce,6831886714876,45518,t_3258
3,58EC3JD1TDZZAVQZAW4AHFOUEKTR61ZLB70,CUST-IYXDMN7Q11O4,6c1c3292c852c6c593b95cc146b00c0e,6916826750723,45518,t_1080
4,96FE6HA91BRDDF6XRI3O9B83M5PKIXCIXZV,CUST-VR9O54A46EVF,38680e129f45c49322cb12303b7fb655,7930902861368,45518,t_979

In [157]:
df_vente = df_vente.rename(columns={'ID_BDD':'id_vente','CUSTOMER_ID':'id_client','EAN':'id_produit','Date achat':'id_date','ID ticket':'id_ticket'})

In [158]:
df_vente.to_csv('data/tbl_vente.csv', encoding='utf-8', index=False, sep=';')

#### Table Produit

In [159]:
df_produit.head()

,EAN,categorie,Rayon,Libelle_produit,prix
0,5026767366043,Produits Secs & Conserves,pates,500g penne rigate panzani,1.24
1,1002603715237,Produits Secs & Conserves,pates,500g spaghetti panzani,0.84
2,2113941413715,Produits Secs & Conserves,pates,1kg coquillettes panzani,1.73
3,2597945667827,Produits Secs & Conserves,pates,1kg spaghetti panzani,1.53
4,8046456922921,Produits Secs & Conserves,pates,panzani farfalle 500g,1.22

In [160]:
df_produit = df_produit.rename(columns={'EAN':'id_produit','Rayon':'rayon','Libelle_produit':'nom_produit','prix':'prix_produit'})

In [161]:
df_produit.to_csv('data/tbl_produit.csv', encoding='utf-8', index=False, sep=';')

#### Table Employe

In [162]:
df_employe.head()

,id_employe,employe,prenom,nom,date_debut,hash_mdp,mail
0,6fa61d0ecae0b563fef18d36b2039c8e,lmaret,Laure,Maret,43961,0373c45921fbaa7530f34b39e71ba93c,lmaret@supersmartmarket.fr
1,37c6a856b2e14217855d808fbc8e56a7,cvérany,Christian,Vérany,43894,3e7956190015a301924fb6d7409665a6,cvérany@supersmartmarket.fr
2,4853b03deab973a1a8e466025bce5b52,sdeslys,Solène,Deslys,44882,45154756438492cd025e3e000781e200,sdeslys@supersmartmarket.fr
3,e44eabec860498a79e675200bc8fa455,acoquelin,Amand,Coquelin,44380,d0575b3bf61100514cedb05d87a9b689,acoquelin@supersmartmarket.fr
4,fa836e3f5faf72d24e079235332169ce,egrosjean,Emmanuel,Grosjean,45192,3a366362e4c0016df16dbd2cfb6c7e2a,egrosjean@supersmartmarket.fr

In [163]:
df_employe = df_employe.rename(columns={'employe':'pseudo_employe','date_debut':'id_date_debut'})

In [164]:
df_employe.to_csv('data/tbl_employe.csv', encoding='utf-8', index=False, sep=';')

#### Table Clients

In [165]:
df_clients.head()

         CUSTUMER_ID date_inscription
0  CUST-2KYXXXW1NK7I       2023-07-17
1  CUST-NR43XRT2PXYG       2023-09-07
2  CUST-CH58P8PSVIYU       2021-08-24
3  CUST-CI7JQHW4TIYT       2021-12-22
4  CUST-3QHP3KL4NPP2       2020-12-20

In [166]:
df_clients = df_clients.rename(columns={'CUSTOMER_ID':'id_client'})

In [167]:
df_clients.to_csv('data/tbl_clients.csv', encoding='utf-8', index=False, sep=';')

#### Table Calendrier

In [168]:
df_calendrier.head()

    date  annee  mois       Jour mois_nom  annee_mois  jour_semaine trimestre
0  43831   2020     1 1900-01-01  janvier       43831             4        Q1
1  43832   2020     1 1900-01-02  janvier       43831             5        Q1
2  43833   2020     1 1900-01-03  janvier       43831             6        Q1
3  43834   2020     1 1900-01-04  janvier       43831             7        Q1
4  43835   2020     1 1900-01-05  janvier       43831             1        Q1

In [169]:
df_calendrier = df_calendrier.rename(columns={'date':'id_date','Jour':'jour','mois_nom':'nom_mois','annee_mois':'id_annee_mois','jour_semaine':'nb_jour'})

In [170]:
df_calendrier['jour'] = df_calendrier['jour'].dt.day

In [171]:
df_calendrier.to_csv('data/tbl_calendrier.csv', encoding='utf-8', index=False, sep=';')

### Analyse des logs

In [172]:
df_logs = pd.read_excel('data/Logs.xlsx')

In [173]:
df_logs

,id_user,date,action,table_insert,id_ligne,champs,detail,Unnamed: 7
0,0859b70a9ca905a870bfccc5f8440ba1,45518,INSERT,Client,CUST-0P9K9MICI4V3,date_inscription,2024-08-14 00:00:00,NaN
1,c4f0909120cfde7086a3c1a56e96a015,45518,INSERT,Client,CUST-SZ9IS3Q1LBEP,date_inscription,2024-08-14 00:00:00,NaN
2,dd595f0f0b3400df2908f0be7723dad4,45518,INSERT,Client,CUST-L99QEXFV9WTS,date_inscription,2024-08-14 00:00:00,NaN
3,e44eabec860498a79e675200bc8fa455,45518,INSERT,Client,CUST-9SBDRZ728025,date_inscription,2024-08-14 00:00:00,NaN
4,37c6a856b2e14217855d808fbc8e56a7,45518,INSERT,Client,CUST-3F47X2KHYXQM,date_inscription,2024-08-14 00:00:00,NaN
...,...,...,...,...,...,...,...,...
207484,08c8b678f8e6f0caz05880ef4ebba10az,45519,INSERT,Ventes,ZY25L294165VSUG1H6WFSA2I2F3BBZCX8IH,CUSTUMER_ID,CUST-RRTKM7KAJIM8,NaN
207485,08c8b678f8e6f0caz05880ef4ebba10az,45519,INSERT,Ventes,ZY25L294165VSUG1H6WFSA2I2F3BBZCX8IH,id_employe,37c6a856b2e14217855d808fbc8e56a7,NaN
207486,08c8b678f8e6f0caz05880ef4ebba10az,45519,INSERT,Ventes,ZY25L294165VSUG1H6WFSA2I2F3BBZCX8IH,EAN,3195185179522,NaN
207487,08c8b678f8e6f0caz05880ef4ebba10az,45519,INSERT,Ventes,ZY25L294165VSUG1H6WFSA2I2F3BBZCX8IH,Date,45518,NaN
207488,08c8b678f8e6f0caz05880ef4ebba10az,45519,INSERT,Ventes,ZY25L294165VSUG1H6WFSA2I2F3BBZCX8IH,ID ticket,t_300,NaN

In [174]:
df_logs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207489 entries, 0 to 207488
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id_user       207489 non-null  object
 1   date          207489 non-null  int64
 2   action        207489 non-null  object
 3   table_insert  207489 non-null  object
 4   id_ligne      207489 non-null  object
 5   champs        207487 non-null  object
 6   detail        207487 non-null  object
 7   Unnamed: 7    199990 non-null  float64
dtypes: float64(1), int64(1), object(6)
memory usage: 12.7+ MB

In [175]:
for col in df_logs.columns:
    str_egal(df_logs,col)

id_user : les lignes ont des longueurs différentes
date  : toutes les lignes ont le même nombres de caractères. Nombres de caractères [5]
action  : toutes les lignes ont le même nombres de caractères. Nombres de caractères [6]
table_insert : les lignes ont des longueurs différentes
id_ligne : les lignes ont des longueurs différentes
champs : les lignes ont des longueurs différentes
detail : les lignes ont des longueurs différentes
Unnamed: 7  : toutes les lignes ont le même nombres de caractères. Nombres de caractères [3]

In [176]:
for col in df_logs.columns:
    print(f"{col}: {df_logs[col].map(type).value_counts()}")

id_user: id_user
<class 'str'>    207489
Name: count, dtype: int64
date: date
<class 'int'>    207489
Name: count, dtype: int64
action: action
<class 'str'>    207489
Name: count, dtype: int64
table_insert: table_insert
<class 'str'>    207489
Name: count, dtype: int64
id_ligne: id_ligne
<class 'str'>    206914
<class 'int'>       575
Name: count, dtype: int64
champs: champs
<class 'str'>      207487
<class 'float'>         2
Name: count, dtype: int64
detail: detail
<class 'str'>                  124564
<class 'int'>                   82767
<class 'datetime.datetime'>       156
<class 'float'>                     2
Name: count, dtype: int64
Unnamed: 7: Unnamed: 7
<class 'float'>    207489
Name: count, dtype: int64

In [177]:
df_logs['id_ligne'] = df_logs['id_ligne'].astype('str')

df_logs['champs'] = df_logs['champs'].astype('str')

df_logs['detail'] = df_logs['detail'].astype('str')

In [178]:
for col in df_logs.columns:
    print(f"{col}: {df_logs[col].map(type).value_counts()}")

id_user: id_user
<class 'str'>    207489
Name: count, dtype: int64
date: date
<class 'int'>    207489
Name: count, dtype: int64
action: action
<class 'str'>    207489
Name: count, dtype: int64
table_insert: table_insert
<class 'str'>    207489
Name: count, dtype: int64
id_ligne: id_ligne
<class 'str'>    207489
Name: count, dtype: int64
champs: champs
<class 'str'>    207489
Name: count, dtype: int64
detail: detail
<class 'str'>    207489
Name: count, dtype: int64
Unnamed: 7: Unnamed: 7
<class 'float'>    207489
Name: count, dtype: int64

In [179]:
df_logs = df_logs.drop(columns='Unnamed: 7')

In [180]:
df_logs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207489 entries, 0 to 207488
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id_user       207489 non-null  object
 1   date          207489 non-null  int64
 2   action        207489 non-null  object
 3   table_insert  207489 non-null  object
 4   id_ligne      207489 non-null  object
 5   champs        207489 non-null  object
 6   detail        207489 non-null  object
dtypes: int64(1), object(6)
memory usage: 11.1+ MB

In [182]:
df_logs.insert(0, 'id', np.arange(len(df_logs)))

In [184]:
df_logs.to_csv('data/logs.csv', encoding='utf-8', index=False, sep=';')